.thin-green-border {
    border-color: #CA232D;
    border-width: 4px;
    border-style: solid;
    border-radius: 50%;
}

.dividing-line {
    border-color: #CA232D;
    border-width: 2px;
    border-style: solid;
}

i {
    color: #CA232D;
}

h1 {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}

h2.wexp {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}

h6 {
    font-family: 'Open Sans', sans-serif;
    color: #CA232D;
}

h6.locat {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    color: #CA232D;
}

ul.cont {
    border-left: 75px solid #CA232D;
    list-style-type: none;
    padding: 0px 100px;
}

ul.namepl {
    border-left: 75px solid #041F36;
    list-style-type: none;
}

.accomp {
    text-align: left;
    color: #CA232D
}